.admin{
    color: white;
    text-align: center;
}
.admin .content{
    display: flex;
}
.admin .content > * {
    flex: 1;
}
.admin .content .admin-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid gray;
}
.admin .content .admin-form > *{
    width: calc(100% - 120px);
    margin-block: 10px;
    min-height: 30px;
    text-align: center;
}
.admin .image-select{
    display: flex;
    justify-content: center;
}
.admin .image-select > *{
    flex: 1;
}
.admin .admin-form .price-container{
    display: flex;
}
.admin .admin-form .price-container input{
    flex: 5;
    text-align: right;
}
.admin .admin-form .price-container selection{
    flex: 1;
}
.admin .admin-form .add-product-btn{
    background-color: rgb(255, 170, 50);
    transition: background-color .5s ease;
}
.admin .admin-form .add-product-btn:hover{
    background-color: rgb(33, 220, 245);
}

/*-----------Coupon Section---------*/
.admin .coupons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin .coupons h4{
    width: calc(100% - 120px);
    min-height: 30px;
    text-align: center;
    margin-block: 10px;
}
.admin .coupons .coupon-container{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin .coupons .coupon-container > *{
    width: calc(100% - 120px);
    min-height: 30px;
    text-align: center;
    margin-block: 10px;
}
.admin .coupons .coupon-container .apply-discount-btn{
    background-color: rgb(255, 170, 50);
    transition: background-color .5s ease;
}
.admin .coupons .coupon-container .apply-discount-btn:hover{
    background-color: rgb(33, 220, 245);
}
.admin ul{
    padding: 0;
}