.cart-container{
    display: flex;
    padding: 20px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.cart{
    flex: 6;
    color: rgb(200, 200, 200);
    text-align: center;
}
.cart-container .order-summary{
    flex: 2;
}
.cart .cart-item{
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.cart .cart-item .prod-title{
    color: rgb(255, 170, 50);
}
.cart .cart-item .prod-price{
    color: rgb(33, 220, 245);
}
.cart-container .order-summary input{
    text-align: center;
    width: 100%;
}
.cart-container .estimated-total{
    margin-top: 50px;
    color: rgb(200, 200, 200);
}
.cart-container .grand-total{
    color: rgb(255, 170, 50);
    border-bottom: 3px solid rgb(33, 220, 245);
}