/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 170, 50);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(33, 220, 245);
  }

.catalog{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.catalog h2{
    color: orange;
}
.catalog .products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media (max-width: 678px){
    .catalog{
        flex-direction: column;
    }
}