.catalog{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 25, 25);
}
.catalog h2{
    color: orange;
}
.catalog .products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media (max-width: 678px){
    .catalog{
        flex-direction: column;
    }
}