:root{
    --animation-duration: 10s;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 170, 50);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(33, 220, 245);
  }


.home{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.home .web-dev-banner{
    text-align: center;
    color: rgb(33, 220, 245);
    margin-top: 20px;
    font-size: 2rem;
}
.home .web-dev-banner .angle-brackets{
    color: rgb(255, 170, 50);
}
.home .hero-animation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 300px;
}
.home .hero-animation > * {
    flex: 1;
}
.home .prefix-container{
    border-right: 3px solid rgb(255, 170, 50);
    margin: 0;
    padding-right: 20px;
    animation: borderColorShift var(--animation-duration) infinite;
}
.home .prefix-container .banner-prefix
{
    font-size: 3rem;
    text-align: right;
}
.home .site-name{
    margin: 0;
    padding-left: 20px;
}
.home .site-name .banner{
    font-size: 3rem;
    text-align: left;
    animation: colorShift var(--animation-duration) infinite;
}

.home .prefix-container h1:before{
    content: 'Your Mind';
    margin: 0;
    animation-name: textRotate;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes textRotate{
    0% {opacity: 0; content: "Your Mind"; color: rgb(200, 200, 200);}
    16% {opacity: 1;}
    33% {opacity: 0; content: "Your Mind";}
    34% {content: "Your Business";}
    48% {opacity: 1;}
    66% {opacity: 0; content: "Your Business";}
    67% {content: "The Web"; color: rgb(200, 200, 200);}
    80% {opacity: 1; color: rgb(255, 170, 50);}
    100% {opacity: 0; content: "The Web";}
}
@keyframes colorShift{
    0% {color: rgb(200, 200, 200);}
    67% {color: rgb(200, 200, 200);}
    80% {color: rgb(255, 170, 50)}
    100% {color: rgb(200, 200, 200);}
}
@keyframes borderColorShift{
    0% {border-color: rgb(255, 170, 50);}
    67% {border-color: rgb(255, 170, 50);}
    80% {border-color: rgb(33, 220, 245);}
    100% {border-color: rgb(255, 170, 50);}
}
.home .call-to-action{
    display: flex;
    flex-wrap: wrap;
    color: rgb(200, 200, 200);
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.home .call-to-action > * {
}
.home .call-to-action .expand{
    text-align: right;
    min-width: 201px;
}
.home .call-to-action h3{
    font-size: 2rem;
    padding-right: 20px;
}
.home .call-to-action h3 span{
    position: relative;
    color: rgb(33, 220, 245);
    letter-spacing: 3px;
    animation-name: expand;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes expand{
    0% {letter-spacing: 3px;}
    50% {letter-spacing: 10px;}
    100% {letter-spacing: 3px;}
}
.home .call-to-action .get-started-btn{
    border: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    padding-inline: 20px;
    padding-block: 10px;
    max-width: 200px;
    background-color: rgb(255, 170, 50);
    border-bottom: 3px solid rgb(33, 220, 245);
    border-radius: 30px;
    transition: background-color .3s ease;
}
.home .call-to-action .get-started-btn,
.home .call-to-action .get-started-btn:focus,
.home .call-to-action .get-started-btn:visited{
    color: rgb(32, 32, 32);
}
.home .call-to-action .get-started-btn:hover{
    background-color: rgb(33, 220, 245);
}
.home .mission-statement-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-radius: 500px 0 500px 0 / 200px 0 300px 0;
    border-bottom: 5px solid rgb(255, 170, 50);
    border-top: 5px solid rgb(33, 220, 245);
    padding-block: 100px;
}
.home .mission-statement-container h1{
    padding-inline: 50px;
}
.home .mission-statement{
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(200, 200, 200);
    text-align: center;
    font-size: 1.5rem;
    padding-inline: 20px;
    padding-block: 10px;
}
.home .mission-statement-container .paragraphs{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.home .mission-statement-container .paragraphs > * {
    padding-inline: 20px;
    max-width: 400px;
}
.home .mission-statement .stat{
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 3px 3px 3px rgb(32, 32, 32);
    color: rgb(255, 170, 50);
}
.home .mission-statement .quotes{
    color: rgb(255, 170, 50);
}
.home .mission-statement-container .why-important{
    color: rgb(255, 170, 50);
    border-bottom: 3px solid rgb(33, 220, 245);
}
.home .mission-statement-container .credit{
    color: rgb(33, 220, 245);
}
