.products-in-cart{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
    border-bottom: 3px solid rgb(255, 170, 50);
    margin-bottom: 10px;
}
.products-in-cart > * {
    position: relative;
    width: 100%;
    padding: 10px 10px;
}
.products-in-cart .product-img{
    flex: 1;
}
.products-in-cart .product-img img{
    height: 75px;
    width: 130px;
}

.products-in-cart .product-info{
    position: relative;
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.products-in-cart .product-info > * {
    position: relative;
    width: 25%;
    padding-inline: 5px;
}
.products-in-cart .product-info .subTotal{
    color: rgb(33, 220, 245);
}